.jq-menu{
	width:200px;
	font-family: Arial;
}
.jq-menu a{
	position: relative;
	display: block;
	line-height: 15px;
	height: 15px;
	text-shadow: 1px 1px 1px #FFF;
	font-size: 11px;
	text-decoration: none;
	padding: 5px 10px;
}
.jq-menu a:hover{
	color: #000;
}
.jq-menu-header a{
	color: #666666;
	background: #FFFFFF;
	background-image: -moz-linear-gradient(top, #FFFFFF, #EEEEEE);
	background-image: -ms-linear-gradient(top, #FFFFFF, #EEEEEE);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#EEEEEE));
	background-image: -webkit-linear-gradient(top, #FFFFFF, #EEEEEE);
	background-image: -o-linear-gradient(top, #FFFFFF, #EEEEEE);
	background-image: linear-gradient(top, #FFFFFF, #EEEEEE);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#EEEEEE",endColorstr="#FFFFFF",GradientType=0);
}
.jq-menu ul li a{
	color: #333;
	background: #E5E5E5;
	padding-left: 15px;
}
.jq-menu em{
	position: absolute;
	right: 10px;
	font-style: normal;
}
.jq-menu-header{
	margin:0;
}
.jq-menu ul{
	display: none;
	list-style: none;
	margin:0;
	padding:0;
}